node_modules
dist
build
.git
.gitignore
.gitlab-ci.yml
.env
.env.*
!.env.example
*.log
logs
coverage
.nyc_output
test
Dockerfile
.dockerignore
docker-compose.yaml
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
RUN_BACKEND.md
RABBITMQ_GUIDELINES.md
REDIS_GUIDELINES.md
UNIT-TESTS.md
DOCKER_ISSUES.md
.vscode
.idea
.DS_Store
